body {
}

table, tr, td {
    border: 1px solid red;
    border-collapse: collapse;
    direction: rtl;
    padding: 8px;
    margin: 0px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.math {
    background-color: aqua
}

.mdmh{
    background-color: lightskyblue
}

.history {
    background-color: darkorange
}

.bible {
    background-color: yellow
}

.english {
    background-color: antiquewhite
}

.tongue {
    background-color: red
}

.phys {
    background-color:khaki
}

.looz {
    background-color: lightblue;
    text-align: center;
}
