﻿body {
    direction: rtl;
    max-width: 1000px;
    background-color:blueviolet;

}


h1 {
    font-family: Aharoni;
    font-size: 350%;
    direction: rtl;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
    direction: rtl;
}


p {
    font-family: Arial;
    text-align: right;
    max-width: 1000px;
    color: black;
    font-size: 150%;
    direction: rtl;
    margin-left: auto; /* Pushes the container to the right */
    margin-right: 0; /* Ensures no extra space on the right */
}

hr {
    border: 1.5px solid black
}

div {
    text-align: center;

}

img{
    
}